VITE_APP_TITLE=OpenClaw-Admin
OPENCLAW_WS_URL=ws://localhost:18789
OPENCLAW_AUTH_TOKEN=1212
OPENCLAW_AUTH_PASSWORD=
PORT=3000
DEV_PORT=3001
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
#OPENCLAW_HOME=/home/ubuntu